# Proyecto: Uso de `.groupby()` y funciones avanzadas

En la presente practica veremos como agrupar información usando la función `.groupby()`.

Veremos cómo aplicar funciones y filtros definidos por el usuario, especificando a que columnas se aplican. 

### Algunas funciones usadas en este proyecto son:

`.nunique()` <- Extrae el número de clases de los valores de cada variable (columna) de un DataFrame

`.loc[]` <-Permite extraer subconjuntos de un DataFrame

`.aggregate([func_1,...,func_X])` <- Permite definir y aplicar una o varias funciones (definidas por el usuario) al DataFrame agrupado

`.filter()` <- permite aplicar filtros definidos por el usuario al DataFrame agrupado

In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

In [2]:
# importamos datos de seaborn

df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [4]:
# Obtenemos el número de clases de información por cada columna
df.nunique()

carat        273
cut            5
color          7
clarity        8
depth        184
table        127
price      11602
x            554
y            552
z            375
dtype: int64

Podemos ver que hay 5 clases de corte, 7 clases de colores, 8 clases de claridad,m etc.

## Función `.groupby()` para agrupamiento de datos

Forma de uso:

`df.groupby([ 'column_X' ])[['column_1',...,'column_N']].funcion()`

1. Seleccionamos el dataFrame: `df`

2. Seleccionamos la(s) columna(s) por la(s) que agruparemos la información: `.groupby( ['column_X'] )`

3. Seleccionamos las columnas que deseamos analizar: `[['column_1',...,'column_N']]`

4. Aplicamos alguna `.funcion()` que deseemos analizar. Las funciones comunmente usadas son: `.count()`, `.mean()`,`.std()`, `.median()`

## `.groupby()` de una sóla variable

In [5]:
# Obtenemos la media de todas las variables (columnas) agrupadas con respecto a 'cut'
df.groupby(['cut']).mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770

In [6]:
# Obtenemos la media de una sola variables (columna) agrupadas con respecto a 'cut'
df.groupby(['cut'])[['price']].mean()

                 price
cut
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891
Good       3928.864452
Fair       4358.757764

In [7]:
# Obtenemos la media de algunas variables (columnas) agrupadas con respecto a 'cut'
T = df.groupby(['cut'])[['carat','price']].mean()
T

              carat        price
cut
Ideal      0.702837  3457.541970
Premium    0.891955  4584.257704
Very Good  0.806381  3981.759891
Good       0.849185  3928.864452
Fair       1.046137  4358.757764

In [10]:
#extracción de un renglón con '.loc[ ['index_name'] ,:]'
T.loc[ ['Good'] ,:]

         carat        price
cut
Good  0.849185  3928.864452

In [ ]:
#extracción de una columna con '.loc[ : , ['column_name'] ]'
T.loc[ :,['price'] ]

In [11]:
#extracción de un campo específico con '.loc[ ['index_name'] , ['column_name'] ]'
T.loc[ ['Good'],['price'] ]

            price
cut
Good  3928.864452

## `.groupby()` de varias variables

In [13]:
df.groupby(['color','cut'])[ ['price','carat'] ].mean()

                       price     carat
color cut
D     Ideal      2629.094566  0.565766
      Premium    3631.292576  0.721547
      Very Good  3470.467284  0.696424
      Good       3405.382175  0.744517
      Fair       4291.061350  0.920123
E     Ideal      2597.550090  0.578401
      Premium    3538.914420  0.717745
      Very Good  3214.652083  0.676317
      Good       3423.644159  0.745134
      Fair       3682.312500  0.856607
F     Ideal      3374.939362  0.655829
      Premium    4324.890176  0.827036
      Very Good  3778.820240  0.740961
      Good       3495.750275  0.775930
      Fair       3827.003205  0.904712
G     Ideal      3720.706388  0.700715
      Premium    4500.742134  0.841488
      Very Good  3872.753806  0.766799
      Good       4123.482204  0.850896
      Fair       4239.254777  1.023822
H     Ideal      3889.334831  0.799525
      Premium    5216.706780  1.016449
      Very Good  4535.390351  0.915948
      Good       4276.254986  0.914729
      Fair       5135.683168  1.219175
I     Ideal      4451.970377  0.913029
      Premium    5946.180672  1.144937
      Very Good  5255.879568  1.046952
      Good       5078.532567  1.057222
      Fair       4685.445714  1.198057
J     Ideal      4918.186384  1.063594
      Premium    6294.591584  1.293094
      Very Good  5103.513274  1.133215
      Good       4574.172638  1.099544
      Fair       4975.655462  1.341176

## Aplicación de funciones definidas por el usuario: Aplicación mismas funciones por columna

In [17]:
def mean_kilo(x):
    return np.mean(x)/1000

In [18]:
# obtenemos: mínimo. media, máximo y 'mean_kilo' de los datos agrupados:
P = df.groupby(['cut','color'])[ ['price','carat'] ].aggregate([np.min,np.mean,np.max,mean_kilo])
P

                price                               carat                  \
                 amin         mean   amax mean_kilo  amin      mean  amax
cut       color
Ideal     D       367  2629.094566  18693  2.629095  0.20  0.565766  2.75
          E       326  2597.550090  18729  2.597550  0.20  0.578401  2.28
          F       408  3374.939362  18780  3.374939  0.23  0.655829  2.45
          G       361  3720.706388  18806  3.720706  0.23  0.700715  2.54
          H       357  3889.334831  18760  3.889335  0.23  0.799525  3.50
          I       348  4451.970377  18779  4.451970  0.23  0.913029  3.22
          J       340  4918.186384  18508  4.918186  0.23  1.063594  3.01
Premium   D       367  3631.292576  18575  3.631293  0.20  0.721547  2.57
          E       326  3538.914420  18477  3.538914  0.20  0.717745  3.05
          F       342  4324.890176  18791  4.324890  0.20  0.827036  3.01
          G       382  4500.742134  18741  4.500742  0.23  0.841488  3.01
          H       368  5216.706780  18795  5.216707  0.23  1.016449  3.24
          I       334  5946.180672  18823  5.946181  0.23  1.144937  4.01
          J       363  6294.591584  18710  6.294592  0.30  1.293094  4.01
Very Good D       357  3470.467284  18542  3.470467  0.23  0.696424  2.58
          E       352  3214.652083  18731  3.214652  0.20  0.676317  2.51
          F       357  3778.820240  18777  3.778820  0.23  0.740961  2.48
          G       354  3872.753806  18818  3.872754  0.23  0.766799  2.52
          H       337  4535.390351  18803  4.535390  0.23  0.915948  3.00
          I       336  5255.879568  18500  5.255880  0.24  1.046952  4.00
          J       336  5103.513274  18430  5.103513  0.24  1.133215  2.74
Good      D       361  3405.382175  18468  3.405382  0.23  0.744517  2.04
          E       327  3423.644159  18236  3.423644  0.23  0.745134  3.00
          F       357  3495.750275  18686  3.495750  0.23  0.775930  2.67
          G       394  4123.482204  18788  4.123482  0.23  0.850896  2.80
          H       368  4276.254986  18640  4.276255  0.25  0.914729  3.01
          I       351  5078.532567  18707  5.078533  0.30  1.057222  3.01
          J       335  4574.172638  18325  4.574173  0.28  1.099544  3.00
Fair      D       536  4291.061350  16386  4.291061  0.25  0.920123  3.40
          E       337  3682.312500  15584  3.682313  0.22  0.856607  2.04
          F       496  3827.003205  17995  3.827003  0.25  0.904712  2.58
          G       369  4239.254777  18574  4.239255  0.23  1.023822  2.60
          H       659  5135.683168  18565  5.135683  0.33  1.219175  4.13
          I       735  4685.445714  18242  4.685446  0.41  1.198057  3.02
          J       416  4975.655462  18531  4.975655  0.30  1.341176  5.01


                mean_kilo
cut       color
Ideal     D      0.000566
          E      0.000578
          F      0.000656
          G      0.000701
          H      0.000800
          I      0.000913
          J      0.001064
Premium   D      0.000722
          E      0.000718
          F      0.000827
          G      0.000841
          H      0.001016
          I      0.001145
          J      0.001293
Very Good D      0.000696
          E      0.000676
          F      0.000741
          G      0.000767
          H      0.000916
          I      0.001047
          J      0.001133
Good      D      0.000745
          E      0.000745
          F      0.000776
          G      0.000851
          H      0.000915
          I      0.001057
          J      0.001100
Fair      D      0.000920
          E      0.000857
          F      0.000905
          G      0.001024
          H      0.001219
          I      0.001198
          J      0.001341

In [19]:
P.loc[ ['Good'],: ]

           price                               carat
            amin         mean   amax mean_kilo  amin      mean  amax mean_kilo
cut  color
Good D       361  3405.382175  18468  3.405382  0.23  0.744517  2.04  0.000745
     E       327  3423.644159  18236  3.423644  0.23  0.745134  3.00  0.000745
     F       357  3495.750275  18686  3.495750  0.23  0.775930  2.67  0.000776
     G       394  4123.482204  18788  4.123482  0.23  0.850896  2.80  0.000851
     H       368  4276.254986  18640  4.276255  0.25  0.914729  3.01  0.000915
     I       351  5078.532567  18707  5.078533  0.30  1.057222  3.01  0.001057
     J       335  4574.172638  18325  4.574173  0.28  1.099544  3.00  0.001100

In [20]:
P.loc[ ['Good'],['G'],: ]

           price                               carat
            amin         mean   amax mean_kilo  amin      mean amax mean_kilo
cut  color
Good G       394  4123.482204  18788  4.123482  0.23  0.850896  2.8  0.000851

In [21]:
P.loc[ ['Good'],['G'],:]['price']

            amin         mean   amax  mean_kilo
cut  color
Good G       394  4123.482204  18788   4.123482

In [22]:
P.loc[ ['Good'],['G'],:]['price']['mean_kilo']

cut   color
Good  G        4.123482
Name: mean_kilo, dtype: float64

## Aplicación de funciones definidas por el usuario: Aplicación distintas funciones por columna

In [23]:
# Podemos definir distintas funciones y decidir a que columnas aplicarlas:
dict_func={'carat':[np.min , np.max], 'price':[np.mean , mean_kilo] }
dict_func

# Aplicará las funciones 
# [np.min,np.max] a la columna 'carat' y 
# [np.mean , mean_kilo] a la columna 'price'

{'carat': [<function numpy.amin(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>,
  <function numpy.amax(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>],
 'price': [<function numpy.mean(a, axis=None, dtype=None, out=None, keepdims=<no value>)>,
  <function __main__.mean_kilo(x)>]}

In [24]:
df.groupby(['cut','color'])[ ['price','carat'] ].aggregate( dict_func )

                carat              price
                 amin  amax         mean mean_kilo
cut       color
Ideal     D      0.20  2.75  2629.094566  2.629095
          E      0.20  2.28  2597.550090  2.597550
          F      0.23  2.45  3374.939362  3.374939
          G      0.23  2.54  3720.706388  3.720706
          H      0.23  3.50  3889.334831  3.889335
          I      0.23  3.22  4451.970377  4.451970
          J      0.23  3.01  4918.186384  4.918186
Premium   D      0.20  2.57  3631.292576  3.631293
          E      0.20  3.05  3538.914420  3.538914
          F      0.20  3.01  4324.890176  4.324890
          G      0.23  3.01  4500.742134  4.500742
          H      0.23  3.24  5216.706780  5.216707
          I      0.23  4.01  5946.180672  5.946181
          J      0.30  4.01  6294.591584  6.294592
Very Good D      0.23  2.58  3470.467284  3.470467
          E      0.20  2.51  3214.652083  3.214652
          F      0.23  2.48  3778.820240  3.778820
          G      0.23  2.52  3872.753806  3.872754
          H      0.23  3.00  4535.390351  4.535390
          I      0.24  4.00  5255.879568  5.255880
          J      0.24  2.74  5103.513274  5.103513
Good      D      0.23  2.04  3405.382175  3.405382
          E      0.23  3.00  3423.644159  3.423644
          F      0.23  2.67  3495.750275  3.495750
          G      0.23  2.80  4123.482204  4.123482
          H      0.25  3.01  4276.254986  4.276255
          I      0.30  3.01  5078.532567  5.078533
          J      0.28  3.00  4574.172638  4.574173
Fair      D      0.25  3.40  4291.061350  4.291061
          E      0.22  2.04  3682.312500  3.682313
          F      0.25  2.58  3827.003205  3.827003
          G      0.23  2.60  4239.254777  4.239255
          H      0.33  4.13  5135.683168  5.135683
          I      0.41  3.02  4685.445714  4.685446
          J      0.30  5.01  4975.655462  4.975655

## Construcción y apliación de filtros definidos por el usuario

In [25]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [26]:
# El siguiente filtro se basará en seleccionar los registros que cumplan:
# mean_kilo(x[ selected_cols ]) > 4
# para un conjunto de columnas seleccionadas en 'selected_cols'

# Definimos la condición del filtro:
def my_filter(x):
    selected_cols = ['price']
    return mean_kilo(x[ selected_cols ]) > 4

In [27]:
# Extraemos los registros que satisfacen la condición del filtro definido previamente:
df.groupby(['cut']).filter(my_filter)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]