# Proyecto: Tratamiento de registros repetidos


### Algunas funciones importantes usadas en este script son:

`.duplicated(keep='first')` <-Regresa un valor 'False' para registros unicos y 'True' cuando el registro se repite

`.drop_duplicates(keep='first')` <-Elimina los registros repetidos conservando la primer ocurrencia

In [1]:
import pandas as pd

In [2]:
# Creamos un dataframe con registros repetidos
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z']+['v'], 
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4,5]})
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [6]:
# Regresa un valor 'False' para registros unicos y 'True' cuando el registro se repite
df.duplicated(keep='first')

# keep='first' <-- marca la primera ocurrencia como False
# keep='last'  <-- marca la última ocurrencia como False

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [9]:
# Podemos filtrar los registros que no estan repetidos:
df[ df.duplicated() == False ]

# Otra opción puede ser: df[ ~ df.duplicated() ]

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [10]:
# Podemos filtrar los registros que sí estan repetidos:
df[ df.duplicated() == True ]

   a  b
1  w  1
2  w  1
3  w  1
5  x  2
6  x  2
8  y  3

In [12]:
# Eliminamos los registros duplicados manteniendo la primera ocurrencia
df.drop_duplicates(keep='first')

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [13]:
# Eliminamos los registros duplicados manteniendo la última ocurrencia
df.drop_duplicates(keep='last')

    a  b
3   w  1
6   x  2
8   y  3
9   z  4
10  v  5