## Detección de campos nulos 

`isnull()`  <-- identifica valores 'nan'o nulos en un objeto de pandas

`notnull()` <-- identifica valores NO nulos en un objeto de pandas

In [2]:
import numpy as np 

import pandas as pd

## Arreglos de numpy

In [3]:
# arreglos 1D:
v = np.array([2,4,6,8,10])
v

array([ 2,  4,  6,  8, 10])

In [4]:
# Los datos se extraen con "[i]"
v[2]

6

In [5]:
v.shape

(5,)

In [6]:
w = v.reshape([ v.shape[0] , 1])
w

array([[ 2],
       [ 4],
       [ 6],
       [ 8],
       [10]])

In [7]:
w.shape

(5, 1)

In [8]:
# Arreglos 2D:
M = np.array([ [2,4,6,8,10], [3,6,9,12,15]  ])
M

array([[ 2,  4,  6,  8, 10],
       [ 3,  6,  9, 12, 15]])

In [9]:
# Los datos se extraen con "[i,j]" o "[i][j]" 
M[1,2]

9

In [10]:
M[1][2]

9

In [11]:
M.shape

(2, 5)

## Series de Pandas

In [13]:
sr = pd.Series([ 2,4,6,8,10 ])
sr

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
# Los valores de una serie es un array de numpy 1D 
sr.values

array([ 2,  4,  6,  8, 10])

In [16]:
# Información sobre el rango de ínidices:
sr.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
# Extrae la dimensión de los valores de la serie
sr.shape

(5,)

In [21]:
# Acceso a un solo valor:
sr[3]

8

In [24]:
# Acceso a varios valores:
sr[ [0,2,3] ]

0    2
2    6
3    8
dtype: int64

In [25]:
# Modificación de índices:
sr = pd.Series([2,4,6,8,10] , index=['a', 'b', 'c', 'd','e'])
sr

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [26]:
sr['c']

6

In [28]:
sr[ ['a','d','e'] ]

a     2
d     8
e    10
dtype: int64

In [29]:
sr['b':'e']

b     4
c     6
d     8
e    10
dtype: int64

## Diccionarios

In [30]:
dict_data = {'CO':100, 'MX':200, 'AR':300}
dict_data

{'CO': 100, 'MX': 200, 'AR': 300}

In [31]:
# Extracción de llaves:
dict_data.keys()

dict_keys(['CO', 'MX', 'AR'])

In [32]:
# Extracción de algun valor:
dict_data['MX']

200

## Tranformación de un diccionario a un tipo pandas:

In [33]:
pd.Series( dict_data )

CO    100
MX    200
AR    300
dtype: int64

In [36]:
sr = pd.Series( dict_data , index=['CO','MX','PE'])
sr

CO    100.0
MX    200.0
PE      NaN
dtype: float64

In [38]:
# Identificación de valores 'nan' o nulos
sr.isnull()

CO    False
MX    False
PE     True
dtype: bool

In [39]:
# Identificación de valores no nulos
sr.notnull()

CO     True
MX     True
PE    False
dtype: bool